.DS_Store
/dist/
node_modules/
yarn-error.log
.github/workflows/deploy.yml

# VS CODE
settings.json
.vscode

# SECRETS
.env

# Too Large Datasets
src/data/acs/usa_00004.csv
src/data/acs/nc_acs_SNAP_data.csv
src/data/acs/usa_00004.xml
